.air-checkbox
  display : none

.air-checkbox_type_dep:checked + .air-label_type_dep
  &:before
    background-color : #607d8b

.air-checkbox_type_arr:checked + .air-label_type_arr
  &:before
    background-color : #607d8b


.air-checkbox_type_arr:checked ~ .table .table__row_type_dep
  display : none

.air-checkbox_type_dep:checked ~ .table .table__row_type_arr
  display : none

.air-checkbox_type_arr:checked ~ .air-checkbox_type_dep:checked ~ .table .table__row
  display : table-row

.air-checkbox_type_arr:checked ~ .table .table__row_type_not-found
  opacity : 0

.air-checkbox_type_dep:checked ~ .table .table__row_type_not-found
  visibility : hidden
