.icon
  &_type_row-arr
    height : 21px
    width : 27px
    background-image : url('icon_type_row-arr.svg')
    line-height : 22px
  &_type_row-dep
    line-height : 22px
    height : 21px
    width : 27px
    background-image : url('icon_type_row-dep.svg')
