.icon
  background-repeat : no-repeat
  background-position : center
  background-size : contain

  &_type_type
    height : 30px
    width : 30px
    background-image : url('icon_type_type.svg')
    line-height : 30px

  &_type_number
    background-image : url('icon_type_number.svg')

  &_type_airline
    background-image : url('icon_type_airline.svg')

  &_type_aircraft
    background-image : url('icon_type_aircraft.svg')

  &_type_airport
    background-image : url('icon_type_airport.svg')

  &_type_time
    background-image : url('icon_type_time.svg')

  &_type_status
    background-image : url('icon_type_status.svg')

  &_type_note
    background-image : url('icon_type_note.svg')

  &_size_medium
    height : 16px
    width : 16px
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px


  &_type_question
    height : 16px
    width : 16px
    background-image : url('icon_type_question.svg')
    line-height : 20.5px

  &_type_row-arr
    height : 21px
    width : 27px
    background-image : url('icon_type_row-arr.svg')
    line-height : 22px

  &_type_row-dep
    line-height : 22px
    height : 21px
    width : 27px
    background-image : url('icon_type_row-dep.svg')

  &_size_large
    height : 42px
    width : 54px
