.icon
  background-repeat : no-repeat
  background-position : center
  background-size : contain
  &_type_type
    height : 30px
    width : 30px
    background-image : url('icon_type_type.svg')
    line-height : 30px
  &_type_number
    height : 16px
    width : 16px
    background-image : url('icon_type_number.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_airline
    height : 16px
    width : 16px
    background-image : url('icon_type_airline.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_aircraft
    height : 16px
    width : 16px
    background-image : url('icon_type_aircraft.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_airport
    height : 16px
    width : 16px
    background-image : url('icon_type_airport.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_time
    height : 16px
    width : 16px
    background-image : url('icon_type_time.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_status
    height : 16px
    width : 16px
    background-image : url('icon_type_status.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_note
    height : 16px
    width : 16px
    background-image : url('icon_type_note.svg')
    line-height : 15.5px
    margin-right : 5px
    @media screen and (max-width: 850px)
      height : 32px
      width : 32px
      margin : 0
      line-height : 32px
  &_type_row-arr
    height : 21px
    width : 27px
    background-image : url('icon_type_row-arr.svg')
    line-height : 22px
  &_type_row-dep
    line-height : 22px
    height : 21px
    width : 27px
    background-image : url('icon_type_row-dep.svg')

  &_size_large
    height : 42px
    width : 54px
