### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Node ###
node_modules

### NPM ###
npm-debug.log

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
*.sublime-project

### PhpStorm ###
### RubyMine ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/
.project
.svn

### BEM ###
libs/*
*bundles*/*/*.*
!*bundles/*/*.bemdecl.js
*bundles*/*/*.bemhtml.bemdecl.js
*bundles*/*/*.js-js.bemdecl.js
*bundles*/*/*.js.bemdecl.js
*bundles*/*/*.template.bemdecl.js
!*bundles/*/*.bemjson.js
.enb/tmp/

### PROJECT ###
public/freeze
public/_index.*
public/uploads
logs/*


### Additional ###
flightplan.js

