.table
  width : 100%
  border-spacing : 0
  border-collapse : collapse
  overflow : hidden
  background-image: url('table.png')
  background-position : top center
  background-repeat : repeat-y
  margin : 40px 0

  &_sticky
    margin : 0

  &__head
    position : relative
    z-index : 2

  &__row
    height : 50px
    display : none

    &_type_heading
      display : table-row

  &__cell
    padding : 0 10px
    position : relative

    &_type_heading
      background-color : #fff
      position : relative
      z-index : 2
      &:after
        content : ''
        position : absolute
        bottom : 0
        height : 2px
        width : 100%
        left : 0
        right : 0
        background-color : #9dcca2

  &__content
    line-height : 50px
    position : relative
    z-index : 1

  &__text
    line-height : normal

.table__row_type_not-found
  opacity : 1
  visibility : visible
  display : table-row

.table .table__body .table__cell:hover:before
  background-color : #dde3dd
  content: '\00a0'
  height : 100%
  left : -5000px
  position : absolute
  top : 0
  width : 10000px

.table .table__body .table__cell:hover:after
  background-color : #dde3dd
  content : '\00a0'
  height : 10000px
  left : 0
  position : absolute
  top : -5000px
  width : 100%
